<%- include('includes/head') %>
<div class="container">
    <h1 style="color:orange; font-size: 2rem; font-weight: bold; padding-bottom: 20px;">Error 404</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi in iure ipsum saepe, ex maxime quisquam esse aut distinctio voluptatibus.</p>
</div>
<%- include('includes/footer')  %>