<%- include('includes/head') %>

  <section class="container">
    <h1> Helmet + CSRF</h1>
    <h2>Updated token on each page reload:</h2>
    <p style="color:red;"><%= csrfToken %></p>
    <form action="/" method="post">
      <!-- aplicando csrf token -->
      <input type="hidden" name="_csrf" value="<%= csrfToken  %>">
      <label for="name">Nome:</label>
      <input type="text" id="name" name="name">  
      
      <button type="submit">Send</button>
    </form>
  </section>

  </section>

  <%- include('includes/footer') %>