<%- include('includes/head') %>
<%- include('includes/nav') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center">Schedule</h1>
                <p class="text-center lead">Your contacts are below</p>

                <div class="row">
                    <div class="col my-3">
                        <div class="alert alert-danger">Error</div>
                    </div>
                </div>

                <div class="responsive-table">
                    <table class="table my-3">
                        <thead class="bg-success">
                            <th class="text-light">NaMe</th>
                            <th class="text-light">LaSt NaMe</th>
                            <th class="text-light">PhOnE</th>
                            <th class="text-light">EmAil</th>
                            <th class="text-light">AcTioN</th>
                        </thead>
                        <tr>
                            <td>Giuliano</td>
                            <td>GArcia</td>
                            <td>+5535154895111</td>
                            <td>email@email.email</td>
                            <td>
                                <button  type="button" class="btn btn-primary">edit</button>
                                <button  type="button" class="btn btn-danger">delete</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Giuliano</td>
                            <td>GArcia</td>
                            <td>+5535154895111</td>
                            <td>email@email.email</td>
                            <td>
                                <button  type="button" class="btn btn-primary">edit</button>
                                <button  type="button" class="btn btn-danger">delete</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
            <div class="col-lg-2"></div>
        </div>
    </div>
</main>

<%- include('includes/footer')  %>

